[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
matplotlib = "*"

[requires]
python_version = "3.8"
